@page
@model VoiceAgentCSharp.Pages.LogoutModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["LogoutTitle"];
}
<h1>@Localizer["LogoutTitle"]</h1>
<p>@Localizer["LogoutMessage"]</p>
<a href="/Login">@Localizer["LoginAgain"]</a>
